/* Declaring some common styles*/
.auto {
  margin: 0 auto;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.none {
  display: none;
}

.flexColReverse {
  display: flex;
  flex-direction: column-reverse
}

.flexRowReverse {
  display: flex;
  flex-direction: row-reverse
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.alignItemsCenter {
  align-items: center;
}

.justContentCenter {
  justify-content: center;
}

.justContentSpaceBtw {
  justify-content: space-between;
}

.container {
  background-image: url('../images/facility_bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--darkBrown);
  padding: 0 0.5rem 3rem;

  .subtitle {
    font-size: 2rem;
    color: var(--lightBrown);
    width: 100%;
    max-width: 203px;
    padding: 3rem 0 2rem;
    line-height: 40px;
  }

  .facilities {
    @extend .flex;
    @extend .relative;
    height: 250px;

    .facility {
      display: none;
    }

    .active {
      display: block;
    }

    .fade {
      height: inherit;

      .img {
        height: inherit;
        background: rgba(95, 37, 14, 0.2);
      }

      .text {
        @extend .absolute;
        @extend .flex;
        flex-direction: row-reverse;
        gap: 1rem;
        top: 84%;
        height: 16%;
        background: rgba(156, 76, 43, 0.6);
        padding: 0.5rem;
        width: 100%;
        padding-right: 2rem;
        @extend .alignItemsCenter;

        .pointer {
          color: var(--white);
          font-size: 2rem;
          width: 10%;
    
          .arrowLeft {
            @extend .absolute;
            top: 8%;
            left: 0;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }

          .arrowRight {
            @extend .absolute;
            top: -525%;
            left: 91%;
            cursor: pointer;
            background: rgba(156, 76, 43, 0.6);

            &:hover {
              opacity: 0.8;
            }
          }
        }

        .arrow {
          @extend .none;
        }

        h4 {
          color: var(--lightBrown);
        }

        h3 {
          color: var(--white);
          font-size: 1.05rem;
        }
      }
    }
  }

  .seeMoreBtn {
    @extend .none;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}