/* Declaring some common styles*/
.auto {
  margin: 0 auto;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.none {
  display: none;
}

.flexColReverse {
  display: flex;
  flex-direction: column-reverse
}

.flexRowReverse {
  display: flex;
  flex-direction: row-reverse
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.alignItemsCenter {
  align-items: center;
}

.justContentCenter {
  justify-content: center;
}

.justContentSpaceBtw {
  justify-content: space-between;
}

.container {
  background-image: url('../images/facility_bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--darkBrown);
  padding: 0 0.5rem 3rem;

  .subtitle {
    font-size: 2rem;
    color: var(--lightBrown);
    width: 100%;
    max-width: 203px;
    padding: 3rem 0 2rem;
    line-height: 40px;
  }

  .facilities {
    @extend .flex;
    @extend .relative;
    height: 250px;

    .facility {
      display: none;
    }

    .active {
      display: block;
    }

    .fade {
      height: inherit;
      width: inherit;

      .img {
        height: inherit;
        background: rgba(95, 37, 14, 0.2);
      }

      .text {
        @extend .absolute;
        @extend .flex;
        flex-direction: row-reverse;
        gap: 1rem;
        top: 84%;
        height: 16%;
        background: rgba(156, 76, 43, 0.6);
        padding: 0.5rem;
        width: 100%;
        padding-right: 1rem;
        @extend .alignItemsCenter;

        .pointer {
          color: var(--white);
          font-size: 2rem;
          width: 10%;
    
          .arrowLeft {
            z-index: 10000;
            @extend .absolute;
            top: 8%;
            left: 0;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }

          .arrowRight {
            z-index: 10000;
            @extend .absolute;
            top: -525%;
            left: 91%;
            cursor: pointer;
            background: rgba(156, 76, 43, 0.6);

            &:hover {
              opacity: 0.8;
            }
          }
        }

        .arrow {
          @extend .none;
        }

        h4 {
          color: var(--lightBrown);
        }

        h3 {
          color: var(--white);
          font-size: 1.05rem;
        }
      }
    }
  }

  .seeMoreBtn,
  .collapseBtn {
    @extend .none;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media screen and (min-width: 768px) {
    background-image: unset;
    background-color: var(--white);
    padding: 3rem 5%;
    
    .subtitle {
      font-size: 3.5rem;
      color: var(--brown);
      width: 100%;
      max-width: 100%;
      text-align: center;
      line-height: 70px;
    }

    .facilities {
      position: static;
      height: 100%;
      flex-direction: column;
  
      .facility {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 70%;
        margin: 2rem auto 0;
        justify-content: space-around;
        transition: 0.3s ease;
        cursor: pointer;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid var(--brown);
        transition: 0.3s;

        .text {
          position: static;
          flex-direction: row;
          gap: 2rem;
          top: unset;
          justify-content: space-between;
          height: 16%;
          background: unset;
          padding: 0.5rem;

          h4,
          h3 {
            color: var(--brown);
          }
  
          .pointer {
            display: none;
          }
  
          .arrow {
            display: flex;
            color: var(--brown);
            font-size: 2rem;
          }
        }

        &:hover {
          transform: scale(1.5);
          opacity: 0.8;
          background: rgba(92, 35, 13, 0.2);
        }

        &:focus {
          transform: scale(0.95);
        }
      }
  
        .img {
          width: 10%;
          background: rgba(95, 37, 14, 0.2);
          transition: 0.3s ease;
        }
    }

    .seeMoreBtn,
    .collapseBtn {
      display: flex;
      background: radial-gradient(337.82% 613.48% at 40.44% -237.82%, rgba(230, 70, 19, 0.77) 0%, rgba(230, 70, 19, 0) 100%),
        linear-gradient(0deg, #5F250E, #5F250E);
      border: none;
      border-radius: 30px;
      color: var(--white);
      width: 30%;
      align-items: center;
      justify-content: center;
      margin: 2rem auto;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;

      &:hover {
        background: radial-gradient(337.82% 613.48% at 40.44% -237.82%, rgba(230, 70, 19, 0.4) 0%, rgba(230, 70, 19, 0) 100%),
        linear-gradient(0deg, #5F250E, #5F250E);
        box-shadow: 0 2.5166666507720947px 2.5166666507720947px 0 rgba(255, 255, 255, 1);
      }

      &:focus {
        box-shadow: 0 0.5625px 4.5625px 0 rgba(255, 255, 255, 1);
        background: unset;
        border: 1px solid #5F250E;
        color: #5F250E;
      }
        }
      }
}
