@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colour */
  --black: #000;
  --white: #fff;
  --text--green: #5d9d53;
  --text--grey: #606060;
  --text--dark: #333232;
  --palm: #c3ee00;
  --menu: #f9f9f9;
  --background: #0a562b;
  --tint: #36ff8c;

  /* Fonts & Sizes */
  --inter: 'Inter';
  --prompt: 'Prompt', sans-serif;

  /* Width */
  --w--100: 100%;
  --w--90: 90%;
  --w--80: 80%;
  --max--100: 100%;

  /* Alignment & Justfication */
  --center: center;
  --space--between: space-between;
  --start: flex-start;
  --flex: flex;
  --block: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  font-family: var(--prompt);
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

menu {
  list-style-type: none;
}

body {
  margin: 0;
  font-size: 4vw;
  line-height: 1.4;
  font-family:
    'Prompt',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 956px) {
  body {
    font-size: 1rem;
    line-height: 1.3;
  }
}
