/* Declaring some common styles*/
.auto {
  margin: 0 auto;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColReverse {
  display: flex;
  flex-direction: column-reverse
}

.flexRowReverse {
  display: flex;
  flex-direction: row-reverse
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.alignItemsCenter {
  align-items: center;
}

.justContentCenter {
  justify-content: center;
}

.justContentSpaceBtw {
  justify-content: space-between;
}

.footerContainer {
  background: #9C4C2B;
  color: var(--white);
  padding: 2rem 0.5rem 1rem;

  .form {
    @extend .relative;
    .titleMob {
      font-size: 0.75rem;
      max-width: 70%;
      @extend .auto;
      text-align: center;
    }

    .submitButton {
      @extend .absolute;
    }

    .emailInput {
      background: #E7B23F54;
      border: none;
      padding: 1rem;
      border-radius: 15px;
      color: #fff;
      font-size: 0.75rem;

      ::placeholder {
        color: #fff;
      }
    }
  }
}